@import 'variables';

*
{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html
{
    height: 100%;
}

body
{
    min-height: 100%;
    position: relative;
    background-color: $creme;
    font-family: $lato;
    padding-bottom: 120px;
}

#main
{
    min-height:100%;
}

a:hover, a:visited, a:focus
{
    color: $white;
    text-decoration: none;
    cursor: pointer;
}
a {
    color: $white;
    text-decoration: none;
}


@mixin typical-square
{
    width: 800px;
    height: 60px;
    background: $white;
    border: 2px solid $grey;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

@mixin red-button
{
    background-color: $red;
    color: $white;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 300px;
    height: 50px;
    font-size: $lato-normal;
}

@mixin title
{
    font-size: $lato-big;
    color: $black;
}

