// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Nav Titles
$lato: "Lato", sans-serif;
$lato-big: 30px;
$lato-normal: 22px;
$lato-small: 16px;

// Colors
$red: #CE1126;
$white: #FFFFFF;
$grey: #AEC0C9;
$black: #57575F;
$creme: #F0EFEF;
