// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$red: #CE1126;
$white: #FFFFFF;
$grey: #AEC0C9;
$creme: #F0EFEF;
