@import "users_show";


.edit
{
    background-color: $grey;
    color: $black;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: 50px;
    font-size: $lato-normal;
    padding: 10px;

}
