@import 'general';
@import 'nav_bar';

.footer
{
    display: flex;
    background-color: $red;
    height: 100px;
    align-items: center;
    bottom: 0;
    
}

.footer_links
{   
    display: flex;
    
}

.footer_links a 
{
    font-family: $lato;
    font-size: $lato-small;
    color: $white;
    padding-left: 50px;
}

.social
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    margin: auto 30px auto 350px;
    
}

.social img
{
    width: 50px;
    height: 50px;
}


@media screen and (max-width: 1199px) {
    .footer {
        background-color: $white;
    }

    .footer_links{
        display: none;
    }

    .social {
        display: none;
    }

    
}