@import 'general';
@import 'nav_bar';

.footer
{
    display: flex;
    background-color: $red;
    align-items: center;
<<<<<<< HEAD
    bottom: 0;
=======
    width: 100%;
>>>>>>> Adrien

}

.footer_links
{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.footer_links a
{
    font-family: $lato;
    font-size: $lato-small;
    color: $white;
    margin: 0 10px 0 10px;
    text-align: center;
}

.social
{
    display: flex;
    justify-content: space-evenly;
    //margin: auto 30px auto 350px;

}

.social img
{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 20px;
}


/*@media screen and (max-width: 1199px) {
    .footer {
        background-color: $white;

        .footer_links{
            display: none;
        }

        .social {
            display: none;
        }
    }

}*/

@media screen and (max-width: 1199px) {
    .logo
    {
        background-color: $white;
        width: 520px;

    }

    .social {
        display: none;
    }




}
