@import 'general';

.nav_bar
{
    display: flex;
    background-color: $red;
    height: 100px;
    top: 0;
    width: 100%;

}

.links
{
    display: flex;
    width: 20%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
}

.links a
{
    margin:10px;
    font-family: $lato;
    font-size: $lato-normal;
    color: $white;
}

.logo
{
    width: 625px;
    height: 100px;
}

.auth
{
    position: absolute;
    right : 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100px;

}

.auth img
{
    width: 55px;
    height: 55px;
    margin : 10px
}


/*@media screen and (max-width: 1199px) {
    .nav_bar {
        background-color: $red;
        .links {
            display: none;

        }

        .auth {
            display: none;

        }

        .logo {
            height: 100%;
            width: auto;
            display: block;
            margin: 0 auto;
            top: 0;
        }
    }
}*/

@media screen and (max-width: 1199px) {

    .accueil
    {
        display: none;
    }

    .auth
    {
        width: 25%;
    }

    .links
    {
        width: 15%;
    }

    .logo
    {
        background-color: $white;
        width: 520px;

    }

    .logo img
    {
        width: 520px;
        height: 90px;
        margin : 5px 0 5px 0;
    }

}
