@import 'general';

.nav_bar 
{
    display: flex;
    background-color: $red;
    height: 100px;
    top: 0;
    
}

.links
{   
    display: flex;
    width: 20%;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.links a
{
    font-family: $lato;
    font-size: $lato-normal;
    color: $white;
}

.logo
{
    width: 625px;
    height: 100px;
}

.auth 
{
    display: flex;
    margin-left: 25%;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    padding: 20px;
    
}

.auth img 
{
    width: 55px;
    height: 55px;
}


@media screen and (max-width: 1199px) {
    .nav_bar {
        background-color: $white;
        .links {
            display: none;
            
        }

        .auth {
            display: none;
            
        }

        .logo {
            height: 100%;
            width: auto;
            display: block;
            margin: 0 auto;
            top: 0;
        }
    }  
}
