@import 'general';
@import 'nav_bar';
@import 'footer';


.article_container
{
    display: flex;
    justify-content: center;
}

.article
{
    width: 800px;
}

.article h1
{
    font-size: 40px;
    height: auto;
    margin: 20px auto 0px 70px;
    text-decoration: underline $red 2px;
    color: $black;
}
.article_show
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $white;
    border: 2px solid $grey;
    width: 660px;
    height: 660px;
    margin: 25px 60px 70px 70px;
    background-image: url('../img/article2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.article_show img
{
    margin-right: 20px;
    display: block;
    margin: 0 auto;
}

.add_to_cart
{
    display: flex;
    justify-content: center;
    background-color: $white;
    border: 2px solid $grey;
    width: 450px;
    height: 100px;
    justify-content: space-evenly;
    margin: 90px 60px 50px 150px;
}

.add_to_cart button[type=submit]
{
    @include red-button;
    margin: 20px;
    width: 200px;
}

.add_to_cart a
{
    color: white;
    text-decoration: none;
}

.add_to_cart h1
{
    font-size: 40px;
    font-weight: bold;
    margin: 22px;
}

.article_details
{
    width: 800px;

}

.article_details button
{
    @include button;
    vertical-align: middle;
    margin: 377px 20px auto 0;
    width: 250px;
}

.article_admin{
    display: flex;
    justify-content: center;
}

.article_admin form{
    display: flex;
}
