* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #F0EFEF;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 15px;
  font-size: 22px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px auto 20px auto;
}

h3 {
  margin: 5px;
  font-size: 16px;
  color: #57575F;
}

.nav_bar {
  display: flex;
  background-color: #CE1126;
  height: 100px;
  top: 0;
}

.links {
  display: flex;
  width: 20%;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.links a {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}

.logo {
  width: 625px;
  height: 100px;
}

.auth {
  display: flex;
  margin-left: 25%;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  padding: 20px;
}

.auth img {
  width: 55px;
  height: 55px;
}

@media screen and (max-width: 1199px) {
  .nav_bar {
    background-color: #FFFFFF;
  }
  .nav_bar .links {
    display: none;
  }
  .nav_bar .auth {
    display: none;
  }
  .nav_bar .logo {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    top: 0;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #F0EFEF;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 15px;
  font-size: 22px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px auto 20px auto;
}

h3 {
  margin: 5px;
  font-size: 16px;
  color: #57575F;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #F0EFEF;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 15px;
  font-size: 22px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px auto 20px auto;
}

h3 {
  margin: 5px;
  font-size: 16px;
  color: #57575F;
}

.nav_bar {
  display: flex;
  background-color: #CE1126;
  height: 100px;
  top: 0;
}

.links {
  display: flex;
  width: 20%;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.links a {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}

.logo {
  width: 625px;
  height: 100px;
}

.auth {
  display: flex;
  margin-left: 25%;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  padding: 20px;
}

.auth img {
  width: 55px;
  height: 55px;
}

@media screen and (max-width: 1199px) {
  .nav_bar {
    background-color: #FFFFFF;
  }
  .nav_bar .links {
    display: none;
  }
  .nav_bar .auth {
    display: none;
  }
  .nav_bar .logo {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    top: 0;
  }
}
.footer {
  display: flex;
  background-color: #CE1126;
  align-items: center;
  width: 100%;
}

.footer_links {
  display: flex;
}

.footer_links a {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 50px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
  margin: auto 30px auto 350px;
}

.social img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1199px) {
  .footer {
    background-color: #FFFFFF;
  }
  .footer .footer_links {
    display: none;
  }
  .footer .social {
    display: none;
  }
}
.form_container {
  display: flex;
  width: 900px;
  margin-top: 50px;
}

.nav_user {
  margin: 23px 150px auto 150px;
}

.menu {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #CE1126;
  padding: 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  justify-content: center;
}

.menu a {
  color: #FFFFFF;
  text-decoration: none;
}

input[type=text] {
  width: 900px;
  height: 50px;
  padding: 12px;
  margin: 8px 0;
  display: flex;
  border: 2px solid #AEC0C9;
}

button[type=submit] {
  width: 200px;
  height: 50px;
  background-color: #CE1126;
  color: #FFFFFF;
  padding: 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.user_button {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.cancel {
  width: 100px;
  height: 50px;
  background-color: #CE1126;
  padding: 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.cancel a {
  color: #FFFFFF;
  text-decoration: none;
}

/*# sourceMappingURL=edit_users.css.map */
