* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #F0EFEF;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 15px;
  font-size: 22px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px auto 20px auto;
}

h3 {
  margin: 5px;
  font-size: 16px;
}

.nav_bar {
  display: flex;
  background-color: #CE1126;
  height: 100px;
  top: 0;
}

.links {
  display: flex;
  width: 20%;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.links a {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}

.logo {
  width: 625px;
  height: 100px;
}

.auth {
  display: flex;
  margin-left: 25%;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  padding: 20px;
}

.auth img {
  width: 55px;
  height: 55px;
}

@media screen and (max-width: 1199px) {
  .nav_bar {
    background-color: #FFFFFF;
  }
  .nav_bar .links {
    display: none;
  }
  .nav_bar .auth {
    display: none;
  }
  .nav_bar .logo {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    top: 0;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #F0EFEF;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 15px;
  font-size: 22px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px auto 20px auto;
}

h3 {
  margin: 5px;
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #F0EFEF;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 15px;
  font-size: 22px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px auto 20px auto;
}

h3 {
  margin: 5px;
  font-size: 16px;
}

.nav_bar {
  display: flex;
  background-color: #CE1126;
  height: 100px;
  top: 0;
}

.links {
  display: flex;
  width: 20%;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.links a {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}

.logo {
  width: 625px;
  height: 100px;
}

.auth {
  display: flex;
  margin-left: 25%;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  padding: 20px;
}

.auth img {
  width: 55px;
  height: 55px;
}

@media screen and (max-width: 1199px) {
  .nav_bar {
    background-color: #FFFFFF;
  }
  .nav_bar .links {
    display: none;
  }
  .nav_bar .auth {
    display: none;
  }
  .nav_bar .logo {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    top: 0;
  }
}
.footer {
  display: flex;
  background-color: #CE1126;
  align-items: center;
  width: 100%;
}

.footer_links {
  display: flex;
}

.footer_links a {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 50px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
  margin: auto 30px auto 350px;
}

.social img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1199px) {
  .footer {
    background-color: #FFFFFF;
  }

  .footer_links {
    display: none;
  }

  .social {
    display: none;
  }
}

/*# sourceMappingURL=index_users.css.map */
